/******media queries********/
@media(max-width:1250px){
    .main-banner .container-item:last-of-type{
        margin-left: 5rem;
    }
    .sub-titulo-principal{
        font-size: 5rem;
    }
}

@media(max-width:1220px){
    .container-card .card {
        width: 45rem;
      }
}

@media(max-width:1170px){
    .container-card .card {
        width: 40rem;
    }
    
}

@media(max-width:1134px){
    .titulo-principal {
        font-size: 2rem;
    }
    
    .sub-titulo-principal{
        font-size: 4.5rem;
    }

    .container .solicitar{
        font-size: 2rem;
    }
}

@media(max-width:1090px){
    .container-item{
        max-width: 38rem;
    }
}

@media(max-width:1030px){
    .main-banner .container-item:last-of-type{
        margin:0;
    }
    .contato{
        text-align: center;
    }
    .form-contacto button{
        margin-left: 0;
    }
    .team .container-card{
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-card .card{
        width: 60rem;
        height: auto;
    }
    .container-card .card:last-of-type{
        margin-top: 2rem;
    }
}
@media(max-width:1002px){
    .sub-titulo-principal{
        font-size: 4rem;
    }
}
@media(max-width:958px){
    .nav-principal{
        flex-direction: column;
        justify-content: space-between;
    }
    .logo{
        margin-bottom: 3rem;
    }
    .opcoes .servico-texto{
        font-size: 2rem;
    }
    .texto-container {
        padding-top: 4rem;
    }
    .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-item {
        max-width: 40rem;
    }
    .main-banner .container-item {
        margin: 0rem;
    }
    .texto{
        text-align: center;
    }
}
@media(max-width:762px){
    .footer {
        flex-direction: column;
    }
    .footer .icon{
        justify-content: flex-start;
    }
    .footer .icon p:first-of-type i{
        padding-left: 0;
    }
    .footer-item{
        margin-bottom: 2rem;
        margin-left: 5rem;
    }
    .footer-item:first-of-type{
        text-align: center;
        align-self: center;
        margin-left: 0;
    }
    .servicos{
        margin-top: 0rem;
    }
    .servicos .imag{
        order: -1;
    }
}
@media(max-width:535px){
    .form-contacto button{
        margin-top: 1rem;
    }
    .nav-container{
        width: 100%;
        justify-content: space-around;
    }
    .nav-container>li{
        margin: 0;
    }
    .nav-container>li:last-of-type{
        display: none;
    }
    .container-item {
        max-width: 100%;
    }
}
@media(max-width:357px){
    .sub-titulo-principal {
        font-size: 2rem;
    }
}